body {
  margin: 8px;
  font-family: monospace, system-ui;
}

.info {
  position: absolute;
  left: 12px;
  top: 12px;
  font-size: 0.5rem;
  color: white;
  pointer-events: none;
}

.prog {
  position: absolute;
  left: 50vw;
  top: 50vw;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2rem;
  color: white;
  pointer-events: none;
}
