body {
  margin: 0;
  font-family:
    monospace,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

@media (min-aspect-ratio: 1/1) {
  body {
    flex-direction: row;
  }
}

@media (max-aspect-ratio: 1/1) {
  body {
    flex-direction: column;
  }
}

.polytope-renderer {
  display: block;
}

.tabs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.controls {
  overflow: auto;
  padding: 8px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

div:has(> div[id$="Slider"]) {
    display: flex;
    align-items: center;
}

div[id$="Slider"] .noUi-tooltip {
    display: none;
}

div[id$="Slider"] .noUi-active .noUi-tooltip {
    display: block;
}

div[id$="Slider"] {
    height: 10px;
    flex-grow: 0.8;
}

div[id$="Slider"] .noUi-connect {
    background: #0075FF;
}

div[id$="Slider"] .noUi-handle {
    height: 18px;
    width: 18px;
    top: -5px;
    right: -9px;
    border-radius: 9px;
    background: #0075FF;
    box-shadow: none;
}

div[id$="Slider"][disabled] :is(.noUi-handle, .noUi-connect) {
  background: #CBCBCB;
}

div[id$="Slider"] .noUi-handle::before,
div[id$="Slider"] .noUi-handle::after {
  display: none
}

a.disable {
  color: #CBCBCB;
  pointer-events: none;
}
a.disable:any-link {
  color: #CBCBCB;
}

.sele-off {
  display: none;
  padding: 8px;
  overflow: auto;
  flex-grow: 1;
}

.inf-families-container {
  display: flex;
  align-items: center;
}

.gen-inf-families {
  margin-right: 4px;
}

.inf-family-params {
  width: 2em;
}

.nav {
  display: flex;
  background-color: black;
  gap: 1px;
  height: 1.5rem;
  width: 100%;
}

.nav > div {
  flex: 1 0 0;
  height: 100%;
  background-color: white;
  text-align: center;
}

.nav > div.active {
  background-color: #bbb;
}

.file-input {
  display: none;
}

.config-file-input {
  display: none;
}

.info {
  position: absolute;
  left: 4px;
  top: 4px;
  font-size: 0.5rem;
  color: white;
  pointer-events: none;
}

.prog-container {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.prog {
  text-align: center;
  font-size: 2rem;
  color: white;
}

.nanobar {
  border: solid 1px white;
  height: 12px;
  margin: 0 auto;
}

.bar {
  background-color: #25c4d3;
}
