body {
  margin: 8px;
  font-family: monospace, system-ui;
}

.polytope-renderer {
  display: block;
}

.info {
  position: absolute;
  left: 12px;
  top: 12px;
  font-size: 0.5rem;
  color: white;
  pointer-events: none;
}

.prog-container {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.prog {
  text-align: center;
  font-size: 2rem;
  color: white;
}

.nanobar {
  border: solid 1px white;
  height: 12px;
  margin: 0 auto;
}

.bar {
  background-color: #25c4d3;
}
